---
- name: "download and prepare required packages"
  become: true
  become_method: sudo
  apt:
    update_cache: yes

- name: "Install NodeJS and NPM"
  become: true
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes 

- name: "Install Pm2"
  become: true
  shell: |
    npm install pm2 -g && pm2 update
    pm2 completion install

- name: "Create Folder"
  become: true
  shell: |
    mkdir /home/ubuntu/backend

- name: "Migrate Files"
  become: true
  copy:
    src: ~/project/artifact.tar.gz
    dest: /home/ubuntu/backend

- name: "Build and Launch app"
  become: true
  shell: |
    cd /home/ubuntu/backend
    sudo tar xvf artifact.tar.gz
    sudo npm install
    sudo npm run build
    sudo pm2 stop all 
    sudo pm2 start npm --start
 
